@font-face {
    font-family: 'NotoSansCJKkr-Bold';
    src: url(../fonts/NotoSansCJKkr-Bold.otf);
}

@font-face {
    font-family: 'NotoSansCJKkr-DemiLight';
    src: url(../fonts/NotoSansCJKkr-DemiLight.otf);
}

@font-face {
    font-family: 'NotoSansCJKkr-Medium';
    src: url(../fonts/NotoSansCJKkr-Medium.otf);
}

@font-face {
    font-family: 'NotoSansCJKkr-Regular';
    src: url(../fonts/NotoSansCJKkr-Regular.otf);
}